.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  width: 600px;
  height: 500px;
  overflow: auto;
  object-fit: cover;
}

.modalContent {
  text-align: center;
}

.modalImage {
  max-width: 600px;
  height: 500px;
}
